<main class="wrap-not-found">
  <section class="bl_page404">
    <h1>ERRO 404. A PÁGINA NÃO EXISTE</h1>
    <p>
      Desculpe! A página que você está procurando não pode ser encontrada.
      Talvez a página que você solicitou tenha sido movida ou excluída. Também é
      possível que você tenha cometido um pequeno erro de digitação ao inserir o
      endereço. Vá para a página principal.
    </p>
    <div class="bl_page404__wrapper">
      <img
        src="https://github.com/BlackStar1991/Pictures-for-sharing-/blob/master/404/bigBoom/cloud_warmcasino.png?raw=true"
        alt="cloud_warmcasino.png"
      />
      <div class="bl_page404__el1"></div>
      <div class="bl_page404__el2"></div>
      <div class="bl_page404__el3"></div>
      <a class="bl_page404__link" routerLink="home">voltar para home</a>
    </div>
  </section>
</main>
