<main
  class="container-fluid d-flex justify-content-center align-items-center h-100"
>
  <img
    ngSrc="./assets/images/login.jpg"
    alt="imagem de fundo do login"
    fill
    priority
  />
  <section class="card mb-5 row h-70 w-20">
    <form class="row g-3" [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <div class="col-12">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" />
      </div>
      <div class="col-12">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" />
      </div>
      <div class="col-12 d-flex justify-content-center">
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary px-3 mb-3">Entrar</button>
      </div>
    </form>
  </section>
</main>

