.input-box {
  position: relative;
  margin: 25px 0;
}

.input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid #2c4766;
  outline: none;
  border-radius: 40px;
  font-size: 1em;
  color: #fff;
  padding: 0 20px;
  transition: .5s ease;
}

.input-box input:focus,
.input-box input:valid {
  border-color: #0ef;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #fff;
  pointer-events: none;
  transition: .5s ease;

  &.required {
    &:after {
      content: "*";
      color: red;
    }
  }
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: 1px;
  font-size: .8em;
  background: #1f293a;
  padding: 0 6px;
  color: #0ef;
}

.input-box i.hasVisiblePassword {
  position: absolute;
  top:12px;
  left: 252px;
  border-color: #0ef;
  color: #74a5a9;
  font-size: 28px;
}

.input-box input.invalid {
  border-color: rgb(245, 33, 18);
}
