@import 'bootstrap/scss/bootstrap';
@import  'ngx-toastr/toastr-bs5-alert';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html, body {
  height: 100%;
}


